header{
    background-color: rgb(29, 5, 116);
    color: seashell;
    font-family: Comic;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    
}    
body{
    background-color: rgb(7, 2, 44);
}
#name{
    font-size: medium;
}
#texto,#resultado{
    color: white;
}

#cajarojo{
    
}